@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ================================================================================
                                 CARD FLIP STYLES
================================================================================ */


.card {
    display: flex;
    flex-direction: column;
    min-height: 73%;
}

.card:last-child {
    margin-bottom: 0;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front .date {
    margin: 1rem;
}

.front h1,
h2,
h3,
h4 {
    margin: 0;
}

.card img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card .Card-Header {
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
    display: flex;
    background: white;
    align-items: center;
    font-size: 0.7rem;
}

.card .Icons {
    display: flex;
    align-items: center;
}

.card .Date {
    margin-left: auto;
    margin-right: 1vh;
}

.card .Fish-Details {
    width: 100%;
    height: 2.5rem;
    background: white;
    display: flex;
    flex-direction: column;
}

.card .Fish-Description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    padding: 0.5rem 0 0.5rem 0;
}

.card .Fish {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 0;
}

.card .Favorite-Icon {
    margin: 1vh 0 1vh 1vh;
    fill: 0 !important;
}

.card .Comment-Icon {
    margin: 1vh;
}

.card .Fish-Icon {
    font-size: 1.5rem;
    margin: 1vh;
}

.card .Pin-Icon {
    margin: 1vh;
}

.card .Weight-Icon {
    margin: 1vh;
}

.card .Length-Icon {
    margin: 1vh;
}

.card p {
    margin: 0;
}

.card .Location {
    display: flex;
    align-items: center;
}

.card .Weight {
    display: flex;
    align-items: center;
}

.card .Length {
    display: flex;
    align-items: center;
}

/* ================================================================================
                                 Checkbox Styles
================================================================================ */


input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Or [id*='card']:checked ~ label.card  */
input[type=checkbox]:checked~label.card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}