.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Barlow', sans-serif;
}

.Card-Container {
  overflow: scroll;
  height: 100%;
}

.MuiInputBase-fullWidth {
  margin-top: 1rem;
}

.No-Content {
  margin-top: 50%;
  text-align: center;
  color: rgba(218, 218, 218, 0.695);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background: white;
}