@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.Registration {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Registration .Title {
    color: black;
    margin: 0;
    margin-bottom: 1rem;
}

.Registration .Error {
    color: red;
    margin: 0;
    margin-top: 3vh;
    font-size: 1rem;
}

.Registration form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.815);
    height: 75%;
    width: 80%;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.Registration input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    background: white;
}

.Registration .Create-Account-Button {
    background: rgba(255, 255, 255, 0.815);
    height: 15%;
    width: 80%;
    border-radius: 20px;
    border: 1px solid rgb(199, 197, 197);
    backdrop-filter: blur(10px);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    color: black;
}

.Registration .Login-Button {
    background-color: transparent;
    border: none;
    height: 10%;
    width: 80%;
    font-size: 1.2rem;
}

.Registration p {
    font-weight: 500;
    color: black;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Registration .waves {
    width: 100%;
    height: 15vh;
    margin-top: auto;
}

.Registration h5 {
    margin: 0;
    margin-top: 1rem;
}

.Registration .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.Registration .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.Registration .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.Registration.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.Registration .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}